openapi: 3.0.2
info:
  title: RoboCupMS - Auth API
  description: API slouži pro přihlášení, odhlášení a registraci uživatelů
  version: 1.0.0
  contact:
    email: m1_krcma@utb.cz
servers:
  - url: https://utb-robogames.com/auth
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-TOKEN
paths:
  /login:
    get:
      summary: Přihlásí uživatele do systemu
      description: Uživatel, který se chce přihlásit do systemu odešle svůj email a heslo. Pokud jsou přihlašovací údaje platné pak vygeneruje přistupový token. Token je platný do doby dokud se uživatel znovů nepřihlási z jíneho zařízeni nebo se neodhlásí.
      parameters:
        - in: query
          name: email
          required: true
          schema:
            type: string
            example: user123@email.com
        - in: query
          name: password
          required: true
          schema:
            type: string
            example: abcd1234
      responses:
        "200":
          description: Uživatel je přihlášen a získa přistupový token. V opačné připadě je typ odpovědi "ERROR"
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    $ref: global.yml#/server_response_enum
                    example: "RESPONSE"
                  data:
                    type: string
                    format: uuid

  /logout:
    get:
      summary: Odhlásí uživatele ze systemu
      description: Pro odhlášení využije přistupový token, podle kterého určí jakého uživatele ma odhlásit. Následně se přístupový token stáva neplatným.
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    $ref: global.yml#/server_response_enum
                    example: "RESPONSE"
                  data:
                    type: string
                    enum: ["SUCCESS", "FAILURE"]

  /register:
    post:
      summary: Registruje nového uživatele
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                surname:
                  type: string
                email:
                  type: string
                password:
                  type: string
                birthDate:
                  type: string
              required:
                - name
                - surname
                - email
                - password
                - birthDate
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    $ref: global.yml#/server_response_enum
                    example: "RESPONSE"
                  data:
                    type: string
                    enum: ["SUCCESS", "FAILURE"]
