openapi: 3.0.2
info:
  title: RoboCupMS - Match API
  description: API zajištuje spravů zápasů.
  version: 1.0.0
  contact:
    email: m1_krcma@utb.cz
servers:
  - url: https://utb-robogames.com/api/competition
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-TOKEN
paths:
  /all:
    get:
      summary: Navratí všechny zápasy
      parameters: []
      responses:
        "200":
          description: Seznam všech zápasů
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        state:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 3
                            name:
                              type: string
                              example: "WAITING"
                        score:
                          type: number
                          example: 12.5
                        groupID:
                          type: integer
                          example: 2
                        teamID:
                          type: integer
                          example: 10
                        robotID:
                          type: integer
                          example: 3
                        robotNumber:
                          type: integer
                          example: 56
                        robotName:
                          type: string
                          example: "Robot"
                        playgroundID:
                          type: integer
                          example: 9

  /allByYear:
    get:
      summary: Navratí všechny zápasy pro konkrétní ročník soutěže
      parameters:
        - in: query
          name: year
          required: true
          description: Ročník soutěže
          schema:
            type: integer
      responses:
        "200":
          description: Seznam všech zápasů pro daný ročník
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        state:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 3
                            name:
                              type: string
                              example: "WAITING"
                        score:
                          type: number
                          example: 12.5
                        groupID:
                          type: integer
                          example: 2
                        teamID:
                          type: integer
                          example: 10
                        robotID:
                          type: integer
                          example: 3
                        robotNumber:
                          type: integer
                          example: 56
                        robotName:
                          type: string
                          example: "Robot"
                        playgroundID:
                          type: integer
                          example: 9

  /create:
    post:
      summary: Naplánuje nový zápas
      description: Vytvořený zápas je automaticky nastaven do stavu "čeká na odehrání". U skupinového zápasu je nutné zápas naplánovat pro každého robota skupiny (všichni budou mít stejné ID skupiny).
      parameters:
        - in: query
          name: robotID
          required: true
          description: ID robota, který bude zápasit
          schema:
            type: integer
        - in: query
          name: playgroundID
          required: true
          description: ID hřiště, na kterém se bude hrát
          schema:
            type: integer
        - in: query
          name: groupID
          required: true
          description: ID zápasové skupiny. Jen v případě pokud zápasí proti
            sobě více robotů. V opačném případě zadat neplatnou
            zápornou hodnotu.
          schema:
            type: integer
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /writeScore:
    put:
      summary: Zapíše výsledné skóre zápasu
      description: Zapíše skóre zápasu a automaticky označí zápas jako odehraný.
      parameters:
        - in: query
          name: id
          required: true
          description: ID zápasu
          schema:
            type: integer
        - in: query
          name: score
          required: true
          description: Skóre zápasu
          schema:
            type: number
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /rematch:
    put:
      summary: Vyžádá opětovné odehrání zápasu
      description: V případě skupinového zápasu je požadavek automaticky vyžádán i pro ostatní zápasy jednotlivých robotů.
      parameters:
        - in: query
          name: id
          required: true
          description: ID zápasu
          schema:
            type: integer
        - in: query
          name: score
          required: true
          description: Skóre zápasu
          schema:
            type: number
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /remove:
    delete:
      summary: Odstraní zápas
      parameters:
        - in: query
          name: id
          required: true
          description: ID zápasu
          schema:
            type: integer
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"

  /removeAll:
    delete:
      summary: Odstraní všechny zápasy, které náleží do určité zápasové skupiny
      parameters:
        - in: query
          name: id
          required: true
          description: ID zápasové skupiny
          schema:
            type: integer
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "success"
