openapi: 3.0.2
info:
  title: RoboCupMS - User API
  description: API slouži pro spravů uživatelů na serveru. Umožnuje zakladní operace (info o uživateli, vyhledavání, modifikace, odstranění)
  version: 1.0.0
  contact:
    email: m1_krcma@utb.cz
servers:
  - url: https://utb-robogames.com/api/user
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-TOKEN
paths:
  /info:
    get:
      summary: Navrátí všechny dostupné informace o uživateli
      description: Podle přistupového tokenu najde v databazi, kterému přihlášenému uživateli patří a informace o něm navrátí
      parameters: []
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Informace o přihlášeném uživateli
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    $ref: global.yml#/server_response_enum
                    example: "RESPONSE"
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 11
                      name:
                        type: string
                        example: "Martin"
                      surname:
                        type: string
                        example: "Krčma"
                      email:
                        type: string
                        format: email
                        example: "m1_krcma@utb.cz"
                      birtDate:
                        type: string
                        format: date
                        example: "1999-10-17"
                      roles:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 0
                            name:
                              type: string
                              example: "ADMIN"

  /all:
    get:
      summary: Navrátí všechny dostupné informace o všech uživatelích
      parameters: []
      security:
        - ApiKeyAuth: ["ADMIN", "LEADER", "ASSISTANT"]
      responses:
        "200":
          description: Seznam s informacemi o všech uživatelích v databázi
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    $ref: global.yml#/server_response_enum
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 11
                        name:
                          type: string
                          example: "Martin"
                        surname:
                          type: string
                          example: "Krčma"
                        email:
                          type: string
                          format: email
                          example: "m1_krcma@utb.cz"
                        birtDate:
                          type: string
                          format: date
                          example: "1999-10-17"
                        roles:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 0
                              name:
                                type: string
                                example: "ADMIN"

  /get_id:
    get:
      summary: Navrátí všechny dostupné informace o uživateli s konkrétním ID
      parameters: []
      security:
        - ApiKeyAuth: ["ADMIN", "LEADER", "ASSISTANT"]
      responses:
        "200":
          description: Informace o uživateli s konkrétním ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    $ref: global.yml#/server_response_enum
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 11
                        name:
                          type: string
                          example: "Martin"
                        surname:
                          type: string
                          example: "Krčma"
                        email:
                          type: string
                          format: email
                          example: "m1_krcma@utb.cz"
                        birtDate:
                          type: string
                          format: date
                          example: "1999-10-17"
                        roles:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 0
                              name:
                                type: string
                                example: "ADMIN"

  /get_email:
    get:
      summary: Navrátí všechny dostupné informace o uživateli s konkrétním emailem
      parameters: []
      security:
        - ApiKeyAuth: ["ADMIN", "LEADER", "ASSISTANT"]
      responses:
        "200":
          description: Informace o uživateli s konkrétním emailem
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    $ref: global.yml#/server_response_enum
                    example: "RESPONSE"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 11
                        name:
                          type: string
                          example: "Martin"
                        surname:
                          type: string
                          example: "Krčma"
                        email:
                          type: string
                          format: email
                          example: "m1_krcma@utb.cz"
                        birtDate:
                          type: string
                          format: date
                          example: "1999-10-17"
                        roles:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 0
                              name:
                                type: string
                                example: "ADMIN"

  /add:
    post:
      summary: Přidá nového uživatele do databáze
      parameters: []
      security:
        - ApiKeyAuth: ["ADMIN", "LEADER"]
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    $ref: global.yml#/server_response_enum
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "SUCCESS"

  /edit:
    put:
      summary: Změní atributy uživatele s konktretním ID
      parameters: []
      security:
        - ApiKeyAuth: ["ADMIN", "LEADER"]
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    $ref: global.yml#/server_response_enum
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "SUCCESS"

  /delete:
    delete:
      summary: Změní atributy uživatele s konktretním ID
      parameters: []
      security:
        - ApiKeyAuth: ["ADMIN", "LEADER"]
      responses:
        "200":
          description: Odpověd o stavu provedeného požadavku
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    $ref: global.yml#/server_response_enum
                    example: "RESPONSE"
                  data:
                    type: string
                    example: "SUCCESS"
